*env/
.venv/
venv/
images/
*_images/
counter/
_test/
_sub/
.DS_Store
tests/
processed_images/
processed/
preview/
watch/
watch_folder/
.pytest_cache/
build/
dist/
*.spec
*.pkg
*.exe
product_data.db
__pycache__/
settings.json